In [1]:
#QUESTION 1:Write a Python program to find numbers between 100 and 400 (both included) 
#where each digit of a number is an even number. The numbers obtained should be printed in a
#comma-separated sequence.

In [7]:
for r in range(100,401):
    if r%2==0:
        print(r,end=",")

100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,

In [8]:
#QUESTION 2:Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [76]:
a=int(input("Enter the number whose table you want to print from (1 to 10)="))
for r in range(1,11):
    b=r*a
    print(a,"*",r,"=",b)

Enter the number whose table you want to print from (1 to 10)=4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [11]:
#QUESTION 3:Write a Program to square each odd number in a list. The list is input by a sequence of comma-separated numbers.

In [13]:
l=[1,4,5,2,8,10,3,9,6,7]
for r in l:
    if r%2!=0:
        b=r*r
        print(b,end=",")

1,25,9,81,49,

In [14]:
#QUESTION 4:Write a Python program to match key values in two dictionaries.
#Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
#Expected output: key1: 1 is present in both x and y

In [75]:
D1={'key1': 1, 'key2': 3, 'key3': 2}
D2={'key1': 1, 'key2': 2}
for r1 in D1.keys():
    for r2 in D2.keys():
        a=D1[r1]
        b=D2[r2]
        if a==b and r1==r2:
            print(r2)

key1

In [15]:
#QUESTION 5:Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
#D 100 W 200,D means deposit while W means withdrawal.Suppose the following input is supplied to the program:
#D 300 D 300 W 200 D 100 .Then, the output should be: 500

In [55]:
D1=list()
while True:
    d=int(input("Enter the deposit="))
    D1.append(d)
    a=input("Do you want to enter or more (y/Y)=")
    if a=='y' or a=='Y':
        continue 
    else:
        break
print(D1)    
SD1=0
for r in D1:
    SD1=r+SD1
print("Total sum of deposit=",SD1)  

W1=list()
while True:
    w=int(input("Enter the withdraw="))
    W1.append(w)
    a=input("Do you want to enter or more (y/Y)=")
    if a=='y' or a=='Y':
        continue 
    else:
        break
print(W1) 
SW1=0
for r in W1:
    SW1=r+SW1
print("Total sum of withdraw=",SW1)
print("Net amount=",SD1-SW1)

Enter the deposit=300
Do you want to enter or more (y/Y)=Y
Enter the deposit=300
Do you want to enter or more (y/Y)=Y
Enter the deposit=100
Do you want to enter or more (y/Y)=N
[300, 300, 100]
Total sum of deposit= 700
Enter the withdraw=200
Do you want to enter or more (y/Y)=N
[200]
Total sum of withdraw= 200
Net amount= 500